 @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Poppins:ital,wght@0,100;0,500;1,200&family=Qwitcher+Grypen:wght@700&family=Rubik+Maze&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: 'Alumni Sans Collegiate One', sans-serif;
/* font-family: 'Poppins', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Rubik Maze', cursive; */
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
 }
 .box{
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;
 }
 @keyframes animate {
    0%{
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100%{
        transform: rotateX(-20deg) rotateY(0deg);


    }
    
 }
 .box div{
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
 }
.block span {
    position: absolute;
    left: -91px;
    width: 202px;
    height: 105px;
    background:gray;
    transform: rotateY(calc(90deg * var(--i)))
    translateZ(100px);
    transition: 0.5s;


 }
 .box:hover .block span{
    background: red;
    filter: drop-shadow( 0 0  50px red);
 }
 .text span{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(calc(90deg * var(--i)))
    translateZ(150px);
    cursor: pointer;
    color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    z-index: 10px;
    line-height: 1em;
    -webkit-text-stroke: 3px #0000;
    transform-style: preserve-3d;
 }
 .text span:nth-child(1)
 {
    font-size: 6em;
 }
 .text span::before{
    content: attr(data-text);
    position: absolute;
    bottom: 4px;
    transform-origin: bottom;
    transform:rotateX(-90deg);
    color: rgb(0,0, 0 ,0.5);
    filter: blur(5px);
 }
 .text span::after{
    content: '';
    position: absolute;
    top:100px;
    width: 360px;
    height: 60px;
    background: #444;
    transform:rotateX(-90deg);
    transition: 0.5s;

 }
 .box:hover .text span::after{
    background: rgb(255, 0, 0);
    filter: drop-shadow(0 0 50px red);
 }